html {background-color: #0e0f10}
* {
    font-family: Helvetica;
    font-weight: bold;
    color: #9F9F9F;
}

.div-grid-holder {
    margin-top: 1vh;
    padding-top: 2.5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    overflow: hidden;
    flex-direction: column
}

.container {  
    text-align: center;  
    margin-bottom: 3vh;
}  

.wordListDiv {
    padding: 10px;
    margin-left: 1vw;
    margin-right: 1vw;
    text-align: center;
    color:#9F9F9F;
}

.wordListHeader {
    text-align: center;
    text-transform: uppercase;
    font-size: 4vw;
    color: #42713e;
}

.reset-btn {  
    background-color: #2c3032;
    width: 40vw;
    height: 10vw;
    font-size: 5vw;
    border-radius: 12px;
    margin: 3vw;
    border: none;
}

.action-btn:active {  
    background-color:#42713e;
}

.kurdle-cell {
    color: white;
    width: 15vw;
    height: 15vw;
    font-size: 6vw;
    margin: .7vw;
    box-sizing: border-box;
    text-align: center;
    text-transform: uppercase;
    caret-color: transparent;
}

.kurdle-cell:focus {
    text-align: center;
    -webkit-transform:scale(1.1);
    -moz-transform:scale(1.1);
    -o-transform:scale(1.1);
    transform:scale(1.1);
}

input {
    padding: 0px 0px;
}

.question-icon{
    padding-left: 10vw;
    padding-top: 4.5vw;
    position: absolute;
    color: transparent;
    background-color: transparent;
    border: none
}