html {background-color: black}

.div-grid-holder {
    margin-top: 10vh;
    padding-top: 1vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    overflow: hidden;
    flex-direction: column
}

.container {  
    text-align: center;  
}  

.wordListDiv {
    padding: 10px;
    margin-left: 1vw;
    margin-right: 1vw;
    text-align: center;
}

.wordListHeader {
    text-align: center;
    text-transform: uppercase;
    font-size: 4vw;
    color: #4CAF50;
}

.action-btn {  
    color: white;
    background-color: #3a3a3a;
    width: 20vw;
    height: 10vw;
    font-family: fantasy;
    font-size: 3vw;
    border-radius: 10%;
    /* margin: 12px 6px; */
    resize: none;
    white-space: normal;
    text-align: center;
    vertical-align: center;
    align-items: center;
    text-transform: uppercase;
    /* transform: translate(-7px); */
}  

.action-btn:hover {  
    background-color: bisque;
}

.action-btn:active {  
    background-color:#3a3a3c;
}

.kurdle-cell {
    color: white;
    width: 16vw;
    height: 16vw;
    font-family: fantasy;
    font-size: 5vw;
    border: 2px solid #3a3a3c;
    border-radius: 10%;
    margin: .3vw .3vw;
    text-align: center;
    text-transform: uppercase;
}

.kurdle-cell:focus {
    border: 2px solid black;
    outline: #00ffff solid 7px;
    text-align: center;
}

.kurdle-grid { 
    /* position: relative; */
    /* left: 50%; */
    /* margin-top: 10px; */
    /* transform: translate(22%, 0%); */
    padding: 10px;
}